
<div class="fullcontent">
    <div class="headings">
        <h1>La Libroteca</h1>
        <h2> «La puerta es la que elige, no el hombre». </h2>
        <h2> -Borges, Elogio de la sombra.</h2>
    </div>
    
    <div class="formbox">
        <h3>Iniciar sesion.</h3>
        <form >
    
            <label for="">Usuario</label>
            <input type="text" placeholder="  Ingrese usuario" class="asd" [(ngModel)]="usuario"/>
    
            <label for="">Contraseña</label>
            <input type="password" placeholder="  Ingrese contraseña" class="asd" [(ngModel)]="password"/>
    
            
          <div style="padding-left: 160px;">
              <button (click)="goTo()"  class="cssbuttons-io-button"> Ingresar
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </div>
              </button>
            </div>
        </form>	
    </div>
    </div> 
    