<div class="card">
    <img class="card-img-top"[src]="libro!.imagen" alt="Card imagen cap">
    <div class="card-body">
        <h5 class="card-title">{{libro?.codigo}} {{libro?.nombre}}</h5>
        <p class="card-text">
            Precio : {{libro?.precio| currency}}
        </p>
        <p class="card-text">
            Editorial : {{libro?.editorial}}
        </p>
        <div style="text-align: center;">
        <a class="btn btn-primary"(click)="emitClose()">Cerrar</a>
    </div>
    </div>
</div>
