    <div class="contenedor">
  
        <div class="carrusel">
            <div class="imagenes-transformables" style="background-image: url('assets/terror.png')" (click)="goTo('terror')">
              <div class="fade">
                 <div class="border-text">
                    
                </div>
              </div>
      
          </div>
        
        <div class="imagenes-transformables" style="background-image: url('assets/comedia.png')" (click)="goTo('comedia')">
          <div class="fade">
            <div class="border-text">
                    
            </div>
                
              </div>
          </div>
        
        <div class="imagenes-transformables" style="background-image: url('assets/romance.png')" (click)="goTo('romance')">
          
          
           <div class="fade">
            <div class="border-text">
                    
            </div>
              
              </div>
          </div>
      
        <div class="imagenes-transformables" style="background-image: url('assets/accion.png')" (click)="goTo('accion')">
          <div class="fade">
            <div class="border-text">
                    
            </div>
            
         </div>
        </div>
        
        
        
        
        <div class="imagenes-transformables" style="background-image: url('assets/animada.png')" (click)="goTo('animada')">
          
          
           <div class="fade">
            <div class="border-text">
                    
            </div>
                
              </div>
          </div>   
         </div>
        </div>
      
        
      
        
        
 
