<header id="page-header">
    <div class="container">
        <h1>Comprar</h1>
    </div>
</header>

<section class="padded">
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaItemsCarrito; let indice=index">
                    
                    <td>{{item.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.cantidad! * item.precio! | currency}}</td>
                </tr>             
            </tbody>
        </table>    

        <div style="padding-left: 1200px; padding-top: 35px;">
            <button class="button"> <a href="http://mpago.la/2fnHQx3"> Ir a pagar → </a></button>
        </div>

    </div>
</section>